<div class="container status-container">
  <div class="row">
    <div class="col-xs-2 vcenter target-label-container">
      <span class="target-label">{{session.selected_target}}</span>
    </div>
    <div class="col-xs-10 vcenter">
      <h4>{{session.selected_target_description}}</h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 text-center pad-bottom-10">
      <h4>Indicator Dashboard</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{session.map_panel_title}}
        </div>
        <div class="panel-body no-padding">
          {{esri-map model=model}}
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              {{session.stat_one_title}}
            </div>
            <div class="panel-body stat-body-height text-center">
              <div>
                <span class="stat_one stat-value"></span> <span class="stat-perc"> %</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              {{session.stat_two_title}}
            </div>
            <div class="panel-body stat-body-height text-center">
              <div>
                <span class="stat_two stat-value"></span> <span class="stat-perc"> %</span>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{session.chart_one_title}}
        </div>
        <div class="panel-body">
          <div id="chart_one"></div>
        </div>
      </div>
    </div>
  </div>
</div>