<div class="container-fluid no-padding">
  <div class="bg-wrapper" style="background-color:{{model.colorHex}};color:white;">
    <div class="row">
      <div class="col-xs-3">
        <img class="img-shift" src="images/sdg/TGG_Icon_Only_Color_{{model.displayNumber}}.gif" height="210" width="210">
      </div>
      <div class="col-xs-7 pad-top-20">
        <div class="row">
          <div class="col-xs-12">
            <h1>Goal {{model.displayNumber}}: {{model.title}}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>{{model.description}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-sm btn-default">
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> How can I Contribute?
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row selector-row" style="background-color:rgba({{model.colorRgb}}, 0.75);">
      <div class="col-xs-1">
        <img class="glyph-sdg-logo" src="images/sdg/main-logo-white40x40.png">
      </div>
      <div class="col-xs-2 country-select-container">
        {{sdg-select-box model=model changeSdg=(action 'changeSdg') }}
      </div>
      <div class="col-xs-1">
        <span class="glyphicon glyphicon-globe glyph-globe-select" aria-hidden="true"></span>
      </div>
      <div class="col-xs-2 country-select-container">
        {{country-select-box model=model goToCountry=(action 'goToCountry')}}
      </div>
      <div class="col-xs-1">
        <span class="glyphicon glyphicon-map-marker glyph-globe-select" aria-hidden="true"></span>
      </div>
      <div class="col-xs-2 country-select-container">
        {{geo-levels-select-box model=model goToGeoLevel="goToGeoLevel" }}
      </div>
      <div class="col-xs-1">
        <span class="glyphicon glyphicon-record glyph-globe-select" aria-hidden="true"></span>
      </div>
      <div class="col-xs-2 country-select-container">
        {{targets-select-button model=model }}
      </div>
    </div>

  </div>
</div>

<div class="row marg-bottom-50">  
  <div class="container status-container">
    <div class="row">
      <div class="col-xs-2 vcenter target-label-container">
        <span class="target-label">{{model.selected_target.id}}</span>
      </div>
      <div class="col-xs-10 vcenter">
        <h4>{{model.selected_target.title}}</h4>
      </div>
    </div>
    <hr>

    {{grid-layout model=model cards=session.cards action="noOp"}}

  </div>
</div>

{{#ember-wormhole to="targets-modal-destination"}}
  {{targets-select-modal changeTarget=(action 'changeTarget')}}
{{/ember-wormhole}}