<ul class='nav navbar-nav navbar-right'>
  
  <li><a href="#" data-toggle="modal" data-target="#aboutModal">{{ t 'application.header.about' }}</a></li>
  
   <ul class="nav navbar-nav navbar-right">      
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      {{ t 'application.header.samples' }} <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li>{{#link-to 'sdg' '1' (query-params geo_group="countries" geo_value="GLOBAL" target_id="1.1") }}<b>Goal 1 No Poverty</b> - Global (Target 1.1){{/link-to}}</li>
        <li>{{#link-to 'sdg' '2' (query-params geo_group="countries" geo_value="GLOBAL" target_id="2.1") }}<b>Goal 2 Zero Hunger</b> - Global (Target 2.1){{/link-to}}</li>
        <li>{{#link-to 'sdg' '2' (query-params geo_group="countries" geo_value="KE" target_id="2.1") }}<b>Goal 2 Zero Hunger</b> - Kenya (Target 2.1){{/link-to}}</li>
        <li>{{#link-to 'sdg' '3' (query-params geo_group="countries" geo_value="GLOBAL" target_id="3.3") }}<b>Goal 3 Good Health and Well-Being</b> - Global (Target 3.3){{/link-to}}</li>
        <li>{{#link-to 'sdg' '3' (query-params geo_group="countries" geo_value="TH" target_id="3.3") }}<b>Goal 3 Good Health and Well-Being</b> - Thailand (Target 3.3){{/link-to}}</li>
        <li>{{#link-to 'sdg' '4' (query-params geo_group="countries" geo_value="GLOBAL" target_id="4.c") }}<b>Goal 4 Quality Education</b> - Global (Target 4.c){{/link-to}}</li>
        <li>{{#link-to 'sdg' '5' (query-params geo_group="countries" geo_value="GLOBAL" target_id="5.5") }}<b>Goal 5 Gender Equality</b> - Global (Target 5.5){{/link-to}}</li>
        <li>{{#link-to 'sdg' '6' (query-params geo_group="countries" geo_value="GLOBAL" target_id="6.1") }}<b>Goal 6 Clean Water and Sanitation</b> - Global (Target 6.1){{/link-to}}</li>
        <li>{{#link-to 'sdg' '7' (query-params geo_group="countries" geo_value="GLOBAL" target_id="7.1") }}<b>Goal 7 Affordable and Clean Energy</b> - Global (Target 7.1){{/link-to}}</li>
        <li>{{#link-to 'sdg' '8' (query-params geo_group="countries" geo_value="GLOBAL" target_id="8.8") }}<b>Goal 8 Decent Jobs and Economic Growth</b> - Global (Target 8.8){{/link-to}}</li>
        <li>{{#link-to 'sdg' '9' (query-params geo_group="countries" geo_value="GLOBAL" target_id="9.c") }}<b>Goal 9 Industry, Innovation and Infrastructure</b> - Global (Target 9.c){{/link-to}}</li>
        <li>{{#link-to 'sdg' '10' (query-params geo_group="countries" geo_value="GLOBAL" target_id="10.1") }}<b>Goal 10 Reduced Inequalities</b> - Global (Target 10.1){{/link-to}}</li>
        <li>{{#link-to 'sdg' '11' (query-params geo_group="cities" geo_value="GLOBAL_CITIES" target_id="11.1") }}<b>Goal 11 Sustainable Cities and Communities</b> - Global (Target 11.1){{/link-to}}</li>
        <li>{{#link-to 'sdg' '11' (query-params geo_group="cities" geo_value="city_BOGOTA" target_id="11.1") }}<b>Goal 11 Sustainable Cities and Communities</b> - Bogota (Target 11.1){{/link-to}}</li>
        <li>{{#link-to 'sdg' '12' (query-params geo_group="countries" geo_value="GLOBAL" target_id="12.2") }}<b>Goal 12 Responsible Consumption and Production</b> - Global (Target 12.2){{/link-to}}</li>
        <li>{{#link-to 'sdg' '13' (query-params geo_group="countries" geo_value="GLOBAL" target_id="13.1") }}<b>Goal 13 Climate Action</b> - Global (Target 13.1){{/link-to}}</li>
        <li>{{#link-to 'sdg' '14' (query-params geo_group="countries" geo_value="GLOBAL" target_id="14.1") }}<b>Goal 14 Life Below Water</b> - Global (Target 14.1){{/link-to}}</li>
        <li>{{#link-to 'sdg' '15' (query-params geo_group="countries" geo_value="GLOBAL" target_id="15.1") }}<b>Goal 15 Life on Land</b> - Global (Target 15.1){{/link-to}}</li>
        <li>{{#link-to 'sdg' '16' (query-params geo_group="countries" geo_value="GLOBAL" target_id="16.1") }}<b>Goal 16 Peace and Justice - Strong Institutions</b> - Global (Target 16.1){{/link-to}}</li>
        <li>{{#link-to 'sdg' '17' (query-params geo_group="countries" geo_value="GLOBAL" target_id="17.2") }}<b>Goal 17 Partnerships for the Goals</b> - Global (Target 17.2){{/link-to}}</li>

        <li role="separator" class="divider"></li>
        <li>{{#link-to 'video-player' (query-params src='aehin')}}<b>Goal 03 Good Health and Well-Being</b> - Access to Health Care Web (Video){{/link-to}}</li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      {{session.locale_label}} <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a  {{action 'changeLocale' 'en' }} >{{t 'application.languages.en'}}</a></li>
        <li><a  {{action 'changeLocale' 'es' }} >{{t 'application.languages.es'}}</a></li>
        <li><a  {{action 'changeLocale' 'fr' }} >{{t 'application.languages.fr'}}</a></li>
        <li><a  {{action 'changeLocale' 'ru' }} >{{t 'application.languages.ru'}}</a></li>
      </ul>
    </li>
  </ul>
</ul>