<ul class='nav navbar-nav navbar-right'>
  
  <li><a href="#" data-toggle="modal" data-target="#aboutModal">{{ t 'application.header.about' }}</a></li>
  
   <ul class="nav navbar-nav navbar-right">      
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      {{session.locale_label}} <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a  {{action 'changeLocale' 'en' }} >{{t 'application.languages.en'}}</a></li>
        <li><a  {{action 'changeLocale' 'es' }} >{{t 'application.languages.es'}}</a></li>
        <!-- <li><a  {{action 'changeLocale' 'ar' }} >{{t 'application.languages.arabic'}}</a></li> -->
        <li><a  {{action 'changeLocale' 'fr' }} >{{t 'application.languages.fr'}}</a></li>
        <li><a  {{action 'changeLocale' 'ru' }} >{{t 'application.languages.ru'}}</a></li>
      </ul>
    </li>
  </ul>

<!--   {{#if session.isAuthenticated}}
    <li><img src={{session.userThumbnail}} class='user-thumbnail hidden-xs' /></li>
    <ul class="nav navbar-nav navbar-right">      
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        {{ session.user.firstName }} <span class="caret"></span></a>
        <ul class="dropdown-menu">
          
          <li><a href="http://www.un.org/sustainabledevelopment/sustainable-development-goals/" target="_blank" >{{t 'application.header.sdghome' }}</a></li>
          <li class="divider"></li>
          <li class="user-sign-inout"><a {{action 'invalidateSession'}} >{{t 'application.header.signOut' }}</a></li>
        </ul>
      </li>
    </ul>

  {{else}}
    <li class="user-sign-inout"><a {{action 'authOrLoad' 'doAuthenticate' }} >{{t 'application.header.signIn'}}</a></li>
  {{/if}} -->

</ul>